[Unit]
Description=MaxiGauge MQTT Service
After=network.target
[Service]
User=root
Group=lqit
WorkingDirectory=/opt/lqit/maxigauge-mqtt
ExecStart=/opt/lqit/maxigauge-mqtt/venv/bin/python /opt/lqit/maxigauge-mqtt/maxigauge_mqtt.py --config /etc/lqit/maxigauge-mqtt.yaml
Restart=on-failure
[Install]
WantedBy=multi-user.target
